# Modelagem e Avaliação

Nesse caderno vamos tratar de cada modelo e fazer a avaliação para comparar e checar qual é o modelo mais eficiente para prever a espécie de Iris.

**Importação de Bibliotecas**

In [1]:
from sklearn.datasets import load_iris
import pandas as pd

In [2]:
data = load_iris()

In [3]:
#Atributos
X = pd.DataFrame(data.data, columns=data.feature_names)
#Variável dependente
y = pd.DataFrame(data.target, columns=['Species'])

In [7]:
display(X.head())
display(y.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   Species
0        0
1        0
2        0
3        0
4        0

Como eu tenho como plano, lidar com a